@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Rubik+Vinyl&display=swap');
body{
    background-image:url(Background.jpg);
    background-size:100%;
}
h1{
    color:rgb(2, 156, 246);
    font-family:Frijole;
}
p{
    font-size:45px;
    text-align: center;
    color: rgb(250, 47, 152);
    font-family: 'Times New Roman', Times, serif;
}