body {
    background-image: url("https://wallpapercave.com/wp/iv5DLYI.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    color: white;
}
.cln{
    background-color:White;
    color: rgb(39, 81, 187);
}
h4{
    color:rgb(18, 18, 59)!important;
}